@model IEnumerable<StudyingApp.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<div class="row">
    <div class="col-sm">
        <h1 class="text-center m-5">Список студентів</h1>
        <form asp-area="" asp-controller="Admin" asp-action="CreateStudent">
            <button class="btn bg-success text-white" type="submit">Додати</button>
        </form>
        <table class="table">
            <thead class="bg-primary text-light">
                <tr>
                    <th>
                        Ім'я
                    </th>
                    <th>
                        Прізвище
                    </th>
                    <th>
                        Університет
                    </th>
                    <th>
                        Факультет
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.University)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Faculty)
                        </td>
                        <td>
                            <form asp-area="" asp-controller="Admin" asp-action="BlockStudentPost" asp-route-id="@item.StudentId">
                                <button class="btn bg-primary text-white" type="submit">Заблокувати</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
